/*base styles*/

@import url('https://fonts.googleapis.com/css?family=Cabin|Pacifico');

* {
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  display: flex;
  background-color: #2A2C05;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #E4B04A;
  margin: auto;
  max-width: 1024px;
  align-self: center;
}

/*layout*/

img {
  border: 2px solid #2A2C05;
}

.gallery {
  opacity: 0.4;
  transition: 0.4s;
}

.gallery:hover {
  opacity: 1;
}

nav, header, footer {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.top-nav {
  padding-left: 0;
  margin-top: 0;
  text-align: center;
  list-style-type: none;
}

.top-nav-list {
  font-family: 'Cabin', sans-serif;
  background-color: #EFE0B9;
  margin-bottom: 0.3em;
  padding: 0.5em;
}

.top-nav-list:hover {
  background-color: #B7521E;
}

.top-name {
  background-color: #E4B04A;
  font-family: 'Pacifico', cursive;
  align-self: center;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #2A2C05;
}

header p {
  align-self: center;
  width: 89%;
}

header, footer p, .list-item p {
font-family: 'Cabin', sans-serif;
text-align: center;
align-self: center;
}

main {
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #EFE0B9;
  padding-top: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.skills {
  display: flex;
}

.skills-list {
  margin: auto;
  display: flex;
  padding-left: 0;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  color: #FFF;
}

.skills-list li:nth-of-type(even) {
  text-align: center;
  width: 100%;
  height: 50%;
  background-color: #643B0F;
  border-radius: 10%;
  box-shadow: 0 2px 2px 0 black;
  margin: 0.3em;
  padding-left: 2px;
  padding-right: 2px;
}

.skills-list li:nth-of-type(odd) {
  text-align: center;
  width: 100%;
  height: 50%;
  background-color: #B7521E;
  border-radius: 10%;
  box-shadow: 0 2px 2px 0 black;
  margin: 0.3em;
  padding-left: 2px;
  padding-right: 2px;
}

.main-title {
  padding: 1em;
}

.list-item, .description {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.description p {
  width: 80%;
}

.titles {
  font-family: 'Cabin', sans-serif;
  margin-bottom: 0px;
}

.portfolio-image {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin: auto;
}

.main-title, .titles, div.description p, .end-title {
  font-family: 'Cabin', sans-serif;
  text-align: center;
}

.gallery {
  max-width: 90%;
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.contact p {
  font-size: 1.2em;
}

.closing-statement {
  max-width: 89%;
}

.contact-info {
  align-self: center;
}

.end {
  font-family: 'Cabin', sans-serif;
  border-top: 1px solid #2A2C05;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 2em;
}

.end-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  margin-top: 1em;
  text-align: center;
  list-style-type: none;
}

.end-name {
  margin-right: auto;
  margin-left: 0;
}

.end-nav-toggle {
  font-family: 'Cabin', sans-serif;
  display: none;
}

.small-redirect a {
  font-size: 0.9em;
}

/*media queries*/

@media (min-width: 768px) {

  nav, footer {
    flex-direction: column;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
    margin-top: 2em;
  }

  h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .top-nav-list {
    background-color: #E4B04A;
  }

  .top-nav-list:hover {
    background-color: #E4B04A;
  }

  .top-name {
    margin-right: auto;
  }

  .top-nav li {
    padding: 5px 10px 10px 10px;
  }

  header {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
  }

  header p {
    font-size: 1.2em;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1.5em;
  }

  .portfolio-image {
    margin-top: 2em;
    max-width: 40%;
    margin-right: 1em;
  }

  main {
    margin-top: 0;
  }

  .skills-list {
    flex-direction: row;
  }

  .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .closing-statement {
    max-width: 65%;
  }

  .list-item {
    max-width: 50%;
  }

  .odd {
    padding-left: 1em;
  }

  .even {
    padding-right: 1em;
  }

  .gallery {
    max-width: 97%;
    align-self: center;
  }

  .end-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
  }

  .end-nav-toggle {
    display: block;
  }

  .end-nav li {
    padding: 5px 10px 10px 10px;
  }

  .small-redirect {
    display: none;
  }
}

  @media (min-width: 1024px) {

    nav, header p,
    .portfolio-image, .portfolio,
    .contact, .end {
      margin-left: 2em;
      margin-right: 2em;
    }

    .top-nav {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .top-name {
      text-align: left;
      display: inline-block;
      align-self: flex-start;
    }

    .top-nav li {
      align-self: flex-end;
      display: flex;
    }

    header p {
      width: 50%;
    }

    .list-item {
      max-width: 33%;
    }

    .odd {
      padding-left: 0;
    }

    .even {
      padding-right: 0;
    }

    .closing-statement {
      max-width: 47%;
    }
  }
